.details-item-div{
    
    border-radius: 25px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(to right top, #c59cf9, #c496f9, #c38ff9, #c289f9, #c282f9, #c67ff9, #ca7dfa, #ce7afa, #d77cfb, #e07dfc, #e97ffc, #f281fd);
    width: 30%;
    padding-top: 30px;
    
    

}

.details-item-btn{
    text-decoration: none;
    border-radius: 25px;
    height: 30px;
   width: 80%;
}

.details-item-img{
    width: 80%;
}   
.details-item-txtarea{

        
        height: 50px;

        resize: none;


        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;

        

}

.details-item-label {
    display: block;
    margin-bottom: 5px;
  }

.details-item-a{
    text-decoration: none !important;
    color: black;
    
}

.details-item-btn a.details-item-a {
    text-decoration: none;
  }
  